<!DOCTYPE html>
<html>
<head>
	<% include partial_head %>
</head>
<body>
		<!-- Charter Preview -->
		<div id="skuffTin">
			<p> The Charter is complete, Awaiting approval from the project sponsor</p>
			<h1 style="font-weight: 550; color: #040435;"><%= result.projectName %></h1>

			<div id="fieldBox">
				<p id="p1">Project Owner</p><p id="p2"><%= result.projectOwner %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Start Date</p><p id="p2"><%= result.startDate %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">End Date</p><p id="p2"><%= result.endDate %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Project Sponsor</p><p id="p2"><%= result.projectSponsor %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Project Manager</p><p id="p2"><%= result.projectManager %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Stakeholders</p><p id="p2"><%= result.stakeholders %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Expected Start Date</p><p id="p2"><%= result.startDate %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Expected End Date</p><p id="p2"><%= result.endDate %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Vision</p><p id="p2"><%= result.vision %></p>
			</div>
			<div id="fieldBox">
				<p id="p1">Mission</p><p id="p2"><%= result.mission %></p>
			</div>
		</div>
		
		<!-- Update Buttons -->
		<a id="subStage" href="/updateBackground">Update Main Fields</a>
		<a id="subStage" href="/updateStakeholders">Update Stakeholders</a>

		<!-- Messages -->
		<div style="width:50%; display:block; margin:auto">
			<h2>Messages</h2>
			<% for(var i=0; i < messages.length; i++){ %>
				<div style="width:55%; color:black; background-color:#c3def2; padding:10px; min-height: 70px; margin:8px auto; display: block; box-sizing: border-box;">
					<p><%= messages[i].message %></p>
				</div>
			<% } %>
		<div>
		

</body>
</html>