<!DOCTYPE html>
<html>
<head>
	<% include partial_head %>
</head>
<body>
	<form id="charterForm" action="/projectCharter">
		<% if(result.length == 1){ %>
			<div>
				<p> Please approve the following project </p>
				<h1><%= result[0].projectName %></h1>
				<div id="fieldBox">
					<p id="p1">Project Owner</p><p id="p2"><%= result[0].projectOwner %></p>
				</div>
				<div id="fieldBox">
					<p id="p1">Start Date</p><p id="p2"><%= result[0].startDate %></p>
				</div>
				<div id="fieldBox">
					<p id="p1">End Date</p><p id="p2"><%= result[0].endDate %></p>
				</div>
				<div id="fieldBox">
					<p id="p1">Project Sponsor</p><p id="p2"><%= result[0].projectSponsor %></p>
				</div>
				<div id="fieldBox">
					<p id="p1">Project Manager</p><p id="p2"><%= result[0].projectManager %></p>
				</div>
			</div>

		<% }else{ %>
			<p> The project Charter has not been created yet </p>
		<% } %>
	</form>
</body>
</html>
