<!DOCTYPE html>
<html>
<head>
	<% include partial_head %>
</head>
<body>
	<form id="charterForm" action="/projectCharter">
		<% if(result.length == 1){ %>
			<div>
				<p> Please approve the following project </p>
				<h1><%= result[0].projectName %></h1>

				<p>Project Owner</p><p><%= result[0].projectOwner %></p>
				<p>Start Date</p><p><%= result[0].startDate %></p>
				<p>End Date</p><p><%= result[0].endDate %></p>
				<p>Project Sponsor</p><p><%= result[0].sponsor %></p>
				<p>Project Manager</p><p><%= result[0].manager %></p>
			</div>

		<% }else{ %>
			<p> The project Charter has not been created yet </p>
		<% } %>
	</form>
</body>
</html>
